.bottom-navigation {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    overflow-x: hidden;

    font-size: 30px;
    font-family: 'Aboreto', cursive;
    padding-top: 20px;
  }
  
  .bottom-navigation div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    text-align: center;
  }
  
  .previous span,
  .next span {
    margin-right: 5px;
  }

  .symb
  {
    font-size: 30px;
  }


@media screen and (max-width: 600px)
{
  .bottom-navigation {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    overflow-x: hidden;

    font-size: 15px;
    font-family: 'Aboreto', cursive;
    padding-top: 20px;
  }
  
  .bottom-navigation div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    text-align: center;
  }
  
  .previous span,
  .next span {
    margin-right: 5px;
  }

  .symb
  {
    font-size: 15px;
  }
}